
/* font-family: 'Karla', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Rubik Mono One', sans-serif; */



* {
    box-sizing: border-box;
}

body, html { height: 100%; 
    background-image: url("../images/main-background-portfolio.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color: #F9F4EB;
}

h1 {
    font-size: 80px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    background-color: #34424D;
    color: #F9F4EB;
    /* padding: 2%; */
}

#picture {
    margin: 3%;
    width: 50%;
}

#contact {
    position: fixed;
    width: 80%;
    top: 35%;
    left: 10%;
    background-color: #34424D;
    color: #F9F4EB;
    text-align: center;
}

p {
    margin: 3%;
    font-family: 'Karla', sans-serif;
    color: #34424D;
}

.button-primary.custom {
    background-color: #34424D;
    margin: 1% auto;
    text-align: center;
    display: block;
}

.button-primary.custom:visited {
    background-color:#34424D;
}

.button-primary.custom:hover {
    background-color: purple;
}

.button-primary.custom:active {
    background-color: #34424D;
}

#OS-image, #GudVibes-image, #BTVS-image {
    width: 300px;
    margin: 3%;
    border: none;
    opacity: 0.6;
    transition: 0.3s

}

#OS-image:hover, #GudVibes-image:hover, #BTVS-image:hover {
    border: 3px solid purple;
    opacity: 1;

}
.current-img {
    width: 600px;
}

.hidden1 {
    text-align: center;
}

.buffy {
    display: inline-block;
}


    